.comment p {
  margin-top: -50px; 
  margin-left: -90px;
}

.comment .author{
margin-top: 50px;
  margin-bottom: -50px;
  text-align: right;
}
.comment{
  border: 1px solid black;
}

.name, .info, form textarea{
  float: left;
  clear: left;
}

#comment_box h1{
text-align: center;}

#comment_box{
  width: 35%;
  margin-left: auto;
  margin-right: auto
}

form input{
  margin: 5px 20px ;
  width: 200px;
}

form textarea{
  margin-left: 20px;
  margin-top: 5px;
  width: 450px;
  height: 200px;
}

.postedComments{
border: solid 1px black;
}
.postedComments, .postedComments p{
  border-collapse: collapse;
  display: block;
  width: 40%;
  margin-top: 20px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  
}

.postedComments #subject{
  text-align:  left;
  margin-left: 40px;
}

.postedComments #name{
text-align:  right;
  margin-right: 50px;

}
.postedComments #comment{
  width: 95%;
  margin-left: 10px;
  text-align: left;
}